<!-- <p>shipping-form works!</p> -->
<form [formGroup]="checkOutForm" (ngSubmit)="placeOrder()">
  <div  class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" id="name" type="text" class="form-control" #name>
    <div *ngIf="checkOutForm.controls.name.touched && checkOutForm.controls.name.invalid">
      <span class="errors" *ngIf="checkOutForm.controls.name.errors.required">*This field is mandatory.</span>
    </div>
  </div>
  <div  class="form-group">
    <label for="addressLine1">Address</label>
    <div class="input-group">
      <input  formControlName="addressLine1"  id="addressLine1" placeholder="Line1"  class="form-control" #addressLine1>
    </div>
    <div *ngIf="checkOutForm.controls.addressLine1.touched && checkOutForm.controls.addressLine1.invalid">
      <span class="errors" *ngIf="checkOutForm.controls.addressLine1.errors.required">*This field is mandatory.</span>
    </div>
  </div>
  <div  class="form-group">
    <label for="addressLine2"></label>
    <div class="input-group">
      <input  formControlName="addressLine2"  id="addressLine2" placeholder="Line2"  class="form-control" #addressLine2>
    </div>
    <div *ngIf="checkOutForm.controls.addressLine2.touched && checkOutForm.controls.addressLine2.invalid">
      <span class="errors" *ngIf="checkOutForm.controls.addressLine2.errors.required">*This field is mandatory.</span>
    </div>
  </div>
  <div class="form-group">
    <label for="city">Mobile Number</label>
    <input formControlName="city" type="number" id="city" class="form-control" #city>
    <!-- <div class="alert alert-danger" *ngIf="url.touched && url.invalid">Image URL is required</div> -->
    <div *ngIf="checkOutForm.controls.city.touched && checkOutForm.controls.city.invalid">
      <span class="errors" *ngIf="checkOutForm.controls.city.errors.required">*This field is mandatory.</span>
    </div>
  </div>
  <label ></label>
  <button class="btn btn-primary" [disabled]="!checkOutForm.valid">Place Order</button>
</form>
